body {
    font-family: 'Lato';
}

ul.nav {
	list-style-type: none;
	display: inline-block;
}

ul.nav li,a {
	display: inline-block;
}

.navbar-right {
	float: right;
}

th, td {
	padding: 3px 5px;
}

.fa-btn {
    margin-right: 6px;
}